<h1>Liens Resolved Services - Lien Claiments</h1>
<p>
	<h3>Options</h3>
	<ul class="links">
	  <li><a href="liens/new">New</a></li>
	  <li><a href="liens/find">Find - byName: [**need name box**] byID: [**need ID box**]</a></li>
	  <li><a href="liens/list">List</a></li>
	</ul>
</p>

<%= link_to "Find", '#', :class => "find_button round" %>
