<h1>Lien Claiments - new</h1>
<p>Sequence of fields</p>
<p>Sequence of fields</p>
<p>...</p>
<p>Sequence of fields</p>

<ul class="links">
  <li><a href="submit">Submit</a></li>
  <li><a href="cancel">Cancel</a></li>
</ul>
