<h1>Claim Files - find</h1>
<p>Sequence of fields</p>
<p>Sequence of fields</p>
<p>...</p>
<p>Sequence of fields</p>

<ul class="links">
  <li><a href="update">Update</a></li>
  <li><a href="delete">Delete</a></li>
</ul>
