<h1>Claim Files</h1>

<p>
	<h3>Options</h3>
	<ul class="links">
	  <li><a href="claim_files/new">New</a></li>
	  <li><a href="claim_files/find">Find - byName: [**need name box**] byID: [**need ID box**]</a></li>
	  <li><a href="claim_files/list">List</a></li>
	</ul>
</p>

