<h1>Liens Resolved Services - Claims file</h1>
<p>Find me in app/views/claim_files/home.html.erb</p>

<p>
	<h3>Options</h3>
	<ul class="links">
	  <li><a href="new">New</a></li>
	  <li><a href="save">Save</a></li>
	  <li><a href="find">Find</a></li>
	</ul>
  </p>
