<h1>Claim Files - list</h1>
<p>
	<h3>Select lien claiment from list, then choose action.</h3>
	{list is empty}
	<ul class="links">
	  <li><a href="edit">Edit</a></li>
	  <li><a href="delete">Delete</a></li>
	  <li><a href="show">Show (prompts for changes)</a></li>
	</ul>
</p>
