<h1>Liens Resolved Services - Home</h1>
<p>
	<h3>Options</h3>
	<ul class="links">
		<li><%= link_to "Claim Files",		claims_path %></li>
		<li><%= link_to "Lien Claiments",	liens_path %></li>
		<li><%= link_to "Reports",			reports_path %></li>
	</ul>
</p>
